<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" lang="en" content="A building services website">
  <link rel="shortcut icon" href="favicon.png" />
  <link rel="icon" href="favicon.png" />

  <title>CWhite Building Services</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:700&7cDroid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>

  <div class="container container-fluid marketing">

    <div class="header row">

      <div class="header__col col-lg-4 col-md-5 col-sm-5 col-xs-12">
        <div class="logo-main">
          <img class="img-responsive" src="./assets/images/logo-lrg.png" alt="CWhite Building Services Logo">
        </div>
      </div>

      <div class="header__col header__col col-lg-7 col-md-6 col-sm-6 col-xs-12">

        <div class="info__row info__row__slogan">
          <h1>Taking care of construction <small>and your home</small></h1>
        </div>

        <div class="info__row info__row__phone">
          <span class="info__row">
            <i class="fa fa-phone"></i>
            <span>07909 918433</span>
          </span>
        </div>

        <div class="info__row info__row__email">
          <span class="info__row">
            <i class="fa fa-send"></i>
            <a class="mail" href="mailto:info@cwhitebuildingservices.co.uk">info@cwhitebuildingservices.co.uk</a>
          </span>
        </div>

      </div>

      <div class="header__col header__col col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <span class="form-open">
          <i class="fa fa-bars"></i>
        </span>
      </div>

    </div>

    <!-- START THE FEATURETTES -->
    <div class="row">

      <hr class="featurette-divider top-divider">

      <div class="row featurette">

        <div class="col-md-7">
          <h2 class="featurette-heading">Change your home with an <b class="brand-color">Extension</b>.</h2>
          <p class="lead">An extension is a simple and popular way of adding additional space to your home. When we build a house extension, kitchen extension or bedroom extension we always ensure that there will be minimum disruption to you and your home. Wherever possible,
            we will separate the living area from the building work for as long as we can and will complete the project within the agreed timeframe. <br>
            <br>
            Concerned with approval? Not all extensions require Planning Approval, therefore you may be able to build your extension under
            a Certificate of Lawfulness.</p>
        </div>

        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="./assets/images/extension/house-extension.jpg" alt="A picture of a complete huse extension." height=""448 width="600">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Full <b class="brand-color">Kitchen</b> installations.</h2>
          <p class="lead">From designer fittings to store suits, We'll install your perfect kitchen. We offer modern designs to extend your living space. New kitchen features offer more space and functionality to one of the most
            important rooms in a house.
            <br>
            <br>
            Think your kitchen’s looking a bit tired and worn out? Or just just fancy a new look, we can create that new aesthetic that suits you and your budget. Simply changes like replacing the kitchen cupboard doors can make a nice difference, so maybe a few upgrades will do. Changing the worktops and replacing the sink and taps sometimes might just do the trick to give your kitchen that all new feel.</p>
        </div>

        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="./assets/images/kitchen/kitchen-1.jpg" alt="A picture of a nice kitchen installed in a home." height="700" width="1250">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Relax in a new <b class="brand-color">Bathroom</b>.</h2>
          <p class="lead">It can be a pain organising all possible trades for a bathroom fit, but CWhite combines them all into one. As with all of our services, we'll design and fit your new bathroom to the upmost quility. Wether you have a design in mind  or and have purchased the suit, we can fit it all for you. We can also completely decorate, tile and finish the room. All of the fitting we install come with their own guarantee.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="./assets/images/bathroom/bathroom-1.jpg" alt="A picture of a nice bathroom suite installed in a home." height="532" width="800">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FORM Hidden by default-->
      <sidebar class="contact-form hidden">
        <i class="fa fa-times form-close"></i>

        <!-- <form method="POST" action="http://fp1.formmail.com/cgi-bin/fm192"> -->
        <form method="POST" action="">

        <input type="hidden" name="_pid" value="145834"/>
        <input type="hidden" name="_fid" value="0JF1I2ZX"/>
        <input type="hidden" name="recipient" value="1"/>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="input" class="form-control" id="name" placeholder="Your name, please" required="true">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Your email address, please" required="true">
          </div>
          <div class="form-group">
            <label for="phone">Telephone</label>
            <input type="number" class="form-control" id="phone" placeholder="Your contact number, please">
          </div>
          <label for="extra">Extra Information</label>
          <textarea class="form-control" name="extra" id="" cols="30" rows="3"></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="reset" class="btn btn-default">Reset</button>

        </form>
      </sidebar>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <!-- <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
        <p class="info">&copy; <?php echo date("Y"); ?> CWhite Building Services, LTD.
        <span class="info info-footer">Call: 07909 918433</span>
        <span class="info info-footer">Email: info@cwhitebuildingservices.co.uk</span>
      </p>
      </footer>

    </div>
    <!-- /.container -->

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>

<?php
  function sanitize($input) {
    return htmlspecialchars(trim($input));
  }
  if ($_POST) {
    $name = sanitize($_POST['name']);
    $email = sanitize($_POST['email']);
    $phone = sanitize($_POST['phone']);
    $extra = sanitize($_POST['extra']);

    $from="From: $name<$email>\r\nReturn-path: $email";
    $subject="Message sent using your contact form";
    $message = $name . ' is intersted in CWhiteBuildingServices services. ' . ' There email is: ' . $email . '. There number is: ' . $phone . '. They sent a message: ' . $extra;
    mail("pcoxgaming@gmail.com", $subject, $message, $from);
  }
?>
