
// ########################
//    HEADER
// ########################

.header {

  margin-top: 25px;

  .header__col {
    display: inline-block;

    &__logo {
      width: 30%;
      margin-right: 5%;
    }

    &__info {

    }

    &__bars {
      .form-open {
        position: absolute;
        top: 15px;
        right: 0px;
      }
    }

    .info__row {

      color: $main;

      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 5px;
      }

      &__slogan {
        font-size: 34px;
        small {
          color: grey;
        }
      }

      &__phone {
        margin-left: 8px;
        font-size: 18px;
      }

      &__email {
        margin-left: 8px;
        font-size: 18px;

        a {
          color: $main;
        }
      }

    }
  }

  .form-open {
    float: right;
    font-size: 25px;
    color: $main;
  }

  will-change: transform;
  transition: all 0.4s ease;


  &--scrolled {
    position: fixed;
    height: 60px;
    margin: 0px;
    background-color: $main;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    -webkit-box-shadow: 0px 12px 21px 1px rgba(50, 50, 50, 0.68);
    -moz-box-shadow:    0px 12px 21px 1px rgba(50, 50, 50, 0.68);
    box-shadow:         0px 12px 21px 1px rgba(50, 50, 50, 0.68);


    .header__col {

      &__logo {
        width: 100px;
        margin-top: 10px;
        margin-left: 45px;
        float: left;
      }

      &__bars {
        .form-open {
          position: absolute;
          top: 15px;
          right: 55px;
        }
      }

      .info__row {

        display: inline-block;
        margin-left: 15px;
        margin-top: 15px;
        line-height: 1.5;
        color: #FFF;
        user-select: none;

        &__slogan {
          display: none;
        }

        &__phone {

        }

        &__email {

          a {
            color: #FFF;
          }
        }

      }
    }
    .form-open {
      color: #FFF;
    }
  }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 568px) {

  .container {
    padding: 10%;
  }

  .header {

    &--scrolled {
      height: 180px;

      .header__col {

        &__bars {
          .form-open {
            position: absolute;
            top: 15px;
            right: 15px;
          }
        }
      }
    }

    .header__col {

      &__logo {
        margin-left: 15px;
      }
    }
  }

  .top-margin {
    margin-top: 240px;
  }

  .info__row__slogan {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

  .container {
    padding: 10%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
